.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Balsamiq Sans', cursive, sans-serif;
  font-size: 25px;
  min-height: 80vh;
}

span {
  padding-bottom: 3px;
}

.green {
  color: rgb(80, 245, 80);
}

.red {
  color: red;
}

.border-pending,
.one {
  border-bottom: 3px solid black;
}

.border-red {
  border-bottom: 3px solid red;
}
